@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  * {
    @apply focus:outline-none;
  }

  h1 {
    @apply text-2xl font-bold leading-tight text-gray-900;
  }
  h2 {
    @apply text-xl font-bold leading-tight text-gray-800;
  }

  a {
    @apply text-blue-500 hover:underline;
  }

  form {
    @apply m-3;
  }

  form > div {
    @apply my-4;
  }

  label {
    @apply text-sm font-light;
  }

  label:first-child {
    @apply block;
  }

  input + label {
    @apply ml-2 inline;
  }

  div[required] > label:after {
    content: "*";
  }

  input[type="text"],
  input[type="number"],
  input[type="datetime-local"],
  input[type="password"],
  input[type="email"],
  select {
    @apply border border-gray-300 rounded py-1 px-3 bg-white text-gray-800 w-full;
  }

  input[type="submit"],
  button {
    @apply rounded px-3 py-1;
  }

  input[type="submit"] {
    @apply bg-blue-500 text-white;
  }

  .u-nested {
    @apply border border-gray-100 rounded p-2 m-2;
  }

  .u-show-error {
    @apply border border-red-500 bg-red-200;
  }

  .u-error-list {
    @apply p-2 border border-red-500 bg-red-200 w-full;
  }

  .rfs-control-container {
    @apply bg-white pl-2 text-gray-800 w-full;
  }

  .rfs-control-container div[role="none"] {
    display: none !important;
  }

  .rfs-caret-icon {
    @apply text-green-500;
  }

  button.icon-button {
    @apply rounded-full text-center;
    width: 40px;
    height: 40px;
  }

  .primary {
    @apply bg-blue-500 text-white;
  }

  .negative {
    @apply bg-red-500 text-white;
  }

  .positive {
    @apply bg-green-500 text-white;
  }

  .warn,
  .danger {
    @apply bg-yellow-400 text-white
  }
}

/* div>.rfs-caret-icon {
  height: 32px;
} */
