@tailwind base;
@tailwind components;
@tailwind utilities;

@import '{}/imports/ui/styles/DatePicker.scss';
@import '{}/imports/ui/styles/DateTimePicker.scss';
@import '{}/imports/ui/styles/TimePicker.scss';

* {
  @apply focus:ring-transparent #{!important};
}

ul {
  @apply list-disc;
}
a {
  @apply text-blue-500;
}
form {
  @apply m-3;
}
/* TODO figure out how to get around this */
.ReactVirtualized__Table__rowColumn form {
  @apply -ml-1 my-1;
}

.not-editable-row {
  @apply cursor-not-allowed
}

.editable-row {
  @apply cursor-pointer
}

.ReactVirtualized__Table__rowColumn form > div {
  @apply m-0 p-0 #{!important};
}

form > div {
  @apply my-4;
}

form.grid > div {
  @apply my-0 #{!important};
}

label {
  @apply text-sm font-light;
}

label + input, label + textarea {
  @apply block;
}

input + label {
  @apply ml-2 inline;
}

input {
  @apply border border-gray-300 p-1 rounded w-full disabled:opacity-50;
  
  &[type="submit" ] {
    @apply bg-primary-500 text-white w-auto px-4 py-1 border-none disabled:opacity-50;
  }
  &[type="checkbox"] {
    @apply text-xl w-3;
  }
}

button {
  @apply bg-secondary-400 text-white px-4 py-1 disabled:bg-opacity-50 rounded mx-1;
  &.primary {
    @apply bg-primary-500 text-white disabled:bg-opacity-50;
  }
  &.danger {
    @apply bg-danger-500 text-white disabled:bg-opacity-50;
  }
  &.ok {
    @apply bg-ok-500 text-white disabled:bg-opacity-50;
  }
  &.warn {
    @apply bg-warning-500 text-white disabled:bg-opacity-50;
  }
  &.icon {
    @apply w-8 h-8 p-0 rounded-full bg-transparent text-black disabled:opacity-50;
    &.primary {
      @apply text-primary-600 disabled:bg-opacity-50;
    }
    &.secondary {
      @apply text-secondary-400 disabled:bg-opacity-50;
    }
    &.danger {
      @apply text-danger-600 disabled:bg-opacity-50;
    }
    &.ok {
      @apply text-ok-600 disabled:bg-opacity-50;
    }
    &.warning {
      @apply text-warning-600 disabled:bg-opacity-50;
    }
  }
}

.sort-select {
  &__container {
    @apply border rounded border-gray-300 bg-white text-gray-800 w-full disabled:opacity-50;
  }
  &__control, &__input {
    @apply border-0 focus:border-0 #{!important};
  }
}

.default-header {
  @apply flex justify-between p-2 border-b-2 border-secondary-200 flex-wrap gap-2;

  .row-count {
    @apply flex-grow;
    &--no-data {
      @apply h-0 basis-0;
    }
  }

  .middle-container {
    @apply flex-grow flex-shrink max-w-[40rem] flex-wrap flex justify-between gap-2;
    
    .sort-container, .search-container {
      @apply flex-grow basis-[9rem] min-w-[9rem];
    }
    .query-editor-toggle {
      @apply icon secondary;
    }
  }

  .buttons-container {
    @apply flex-shrink flex-grow text-right;
  }

  .search-input {
    @apply h-[40px] #{!important};
    &--warn {
      @apply text-warning-600 #{!important};
    }
  }
  
  .sort-select__control, .sort-select__input {
    @apply pr-2 border-0 focus:border-0 #{!important};
  }
}




.spaces-resize-handle {
  @apply bg-secondary-300 hover:bg-secondary-400 text-secondary-300 hover:text-secondary-400 #{!important};
}


.u-nested {
  @apply border border-gray-100 rounded p-2 m-2;
}
.u-show-error {
  input {
    @apply border border-danger-400 bg-danger-100 #{!important};
  }
  label {
    @apply text-danger-600;
  }
}
.u-error-list {
  @apply p-2 bg-danger-300 text-white w-full;
}


.u-list-field {
  @apply my-4 border-b border-gray-400 pb-2;
}

.u-list-field-header {
  @apply pb-1 mb-2 border-b border-gray-400 w-full flex justify-between items-end;
}
.u-list-field-header button.icon,
.u-list-item-field button.icon {
  @apply text-3xl;
}

.u-list-item-field {
   @apply flex justify-between items-center;
}

.u-list-item-child-container {
   @apply flex-grow px-4;
}

.u-list-item-child-container > div > div {
   @apply my-2;
}

.u-input-field {
  @apply flex flex-col-reverse;
}

.Toastify__toast button {
  @apply w-8 bg-transparent text-white;
}
.Toastify__toast--default {
  @apply bg-gray-500 text-white;
}
.Toastify__toast--info {
  @apply bg-primary-500/50 text-white;
}
.Toastify__toast--success {
  @apply bg-ok-500/90 text-white;
}
.Toastify__toast--warning {
  @apply bg-warning-500/90 text-white;
}
.Toastify__toast--error {
  @apply bg-danger-500/90 text-white;
}
.error-boundary {
  @apply bg-danger-500 text-white p-4;
}

.modal {
  @apply absolute p-4 border rounded-xl shadow-xl bg-white focus:outline-transparent focus:ring-transparent w-10/12 sm:w-9/12 md:w-8/12 lg:w-6/12;
  min-width: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay {
  @apply fixed inset-0 backdrop-blur backdrop-brightness-90;
}