@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  * {
    @apply focus:outline-none;
  }

  h1 {
    @apply text-2xl font-bold leading-tight text-gray-900;
  }
  h2 {
    @apply text-xl font-bold leading-tight text-gray-800;
  }

  a {
    @apply text-blue-500 hover:underline;
  }

  /* forms and form elements */
  form {
    @apply m-3;
  }

  form > div {
    @apply my-4;
  }

  label {
    @apply text-sm font-light;
  }

  div[required] > label:after {
    content: "*";
  }

  input[type="text"],
  input[type="number"],
  input[type="datetime-local"],
  input[type="password"],
  input[type="email"],
  select {
    @apply border border-gray-300 rounded py-1 px-3 bg-white text-gray-800 w-full;
  }
  input[type="submit"] {
    @apply rounded px-3 py-1 bg-blue-500 text-white;
  }

  button {
    @apply rounded px-3 py-1;
  }

  button.primary {
    @apply bg-gray-500 text-white;
  }

  
  button.icon-button {
    border-radius: 500;
    @apply bg-gray-50;
    width: 40px;
    height: 40px;
  }

  /* react functional control */
  .rfs-control-container {
    @apply bg-white pl-2 text-gray-800 w-full;
  }

  .rfs-control-container div[role="none"] {
    display: none !important;
  }

  .rfs-caret-icon {
    @apply text-gray-500;
  }

  /* colors by function */
  .primary {
    @apply bg-blue-500 text-white;
  }

  .cancel, .negative {
    @apply bg-red-500 text-white;
  }

  .ok, .positive {
    @apply bg-green-500 text-white;
  }

  .warn,
  .danger {
    @apply bg-yellow-400 text-white
  }
  
  /* uniforms specific styles */
 
  .u-nested {
    @apply border border-gray-100 rounded p-2 m-2;
  }

  .u-show-error {
    @apply border border-red-500 bg-red-200;
  }

  .u-error-list {
    @apply p-2 border border-red-500 bg-red-200 w-full;
  }

  /* Toastify styling */

  .Toastify__toast--default {
    @apply bg-white text-black
  }
  .Toastify__toast--info {
    @apply bg-blue-300
  }
  .Toastify__toast--success {
    @apply bg-green-300
  }
  .Toastify__toast--warning {
    @apply bg-yellow-300
  }
  .Toastify__toast--error {
    @apply bg-red-300
  }
}

