.query-editor
  .query-block
    padding: 4px 0 0 4px
    margin-bottom: 4px
    border-radius: 2px
    .inline
      margin-bottom: -12px
    .block-header
      padding: 4px
      margin: -4px 0 4px -4px
      border-radius: 0 2px 2px 0
    &.and
      border-left: 12px solid #FFDB9B !important
      >.block-header
        background-color: #FFDB9B
    &.or
      border-left: 12px solid #D5E7C2 !important
      >.block-header
        background-color: #D5E7C2
    &.nor
      border-left: 12px solid #F3B9B9 !important
      >.block-header
        background-color: #F3B9B9
    &.folder
      border: 8px solid #E5EDF1
      background-color: #E5EDF1
      border-top 0
      >.block-header
        margin-right: -4px
        background-color: #E5EDF1
 

.ReactVirtualized__Table__row
  align-items: stretch !important

.ReactVirtualized__Grid__innerScrollContainer {
  overflow: visible !important;
}

.ReactVirtualized__Table__row
  overflow: visible !important;
  &.even
    background-color: #eee

.ReactVirtualized__Table__rowColumn
  overflow: hidden
  &.overflow
    overflow: visible !important


// resizable Header Columns

.ReactVirtualized__Table__headerColumn
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  &:focus
    outline: 0

.ReactVirtualized__Table__headerTruncatedText
  flex: auto;

.DragHandle
  width: 8px
  z-index: 2;
  cursor: col-resize;
  border-right: 2px dotted grey

.DragHandleActive,
.DragHandleActive:hover
  color: black
  z-index: 3


.modal
  position: absolute
  min-width: 400px
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  background-color: white
  padding: 1rem
  border-radius: .5rem
  border: 1px solid silver
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.2)

.overlay
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  backdrop-filter: blur(5px)